@font-face {
    font-family: 'Back Issues BB';
    src: url('BackIssuesBB-BoldItalic.woff2') format('woff2'),
        url('BackIssuesBB-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Back Issues BB';
    src: url('BackIssuesBB-Italic.woff2') format('woff2'),
        url('BackIssuesBB-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Back Issues BB';
    src: url('BackIssuesBB.woff2') format('woff2'),
        url('BackIssuesBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BlamBlam BB';
    src: url('BlamBlamBB.woff2') format('woff2'),
        url('BlamBlamBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BlamBlam Heavy BB';
    src: url('BlamBlamHeavyBB.woff2') format('woff2'),
        url('BlamBlamHeavyBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blowhole BB';
    src: url('BlowholeBB-Italic.woff2') format('woff2'),
        url('BlowholeBB-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Blowhole BB';
    src: url('BlowholeBB.woff2') format('woff2'),
        url('BlowholeBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Char BB';
    src: url('CharBB.woff2') format('woff2'),
        url('CharBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DigitalStrip 2 BB';
    src: url('DigitalStrip2BB-BoldItalic.woff2') format('woff2'),
        url('DigitalStrip2BB-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DigitalStrip 2 BB';
    src: url('DigitalStrip2BB-Bold.woff2') format('woff2'),
        url('DigitalStrip2BB-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DigitalStrip 2 BB';
    src: url('DigitalStrip2BB-Italic.woff2') format('woff2'),
        url('DigitalStrip2BB-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DigitalStrip 2 BB';
    src: url('DigitalStrip2BB-Regular.woff2') format('woff2'),
        url('DigitalStrip2BB-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Feedback BB';
    src: url('FeedbackBBItalic.woff2') format('woff2'),
        url('FeedbackBBItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Feedback BB';
    src: url('FeedbackBB.woff2') format('woff2'),
        url('FeedbackBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Full Bleed BB';
    src: url('FullBleedBB-Italic.woff2') format('woff2'),
        url('FullBleedBB-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Full Bleed BB';
    src: url('FullBleedBB.woff2') format('woff2'),
        url('FullBleedBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KillCrazy BB';
    src: url('KillCrazyBB-Italic.woff2') format('woff2'),
        url('KillCrazyBB-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'KillCrazy BB';
    src: url('KillCrazyBB.woff2') format('woff2'),
        url('KillCrazyBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MechEffects One BB';
    src: url('MechEffectsOneBB-Italic.woff2') format('woff2'),
        url('MechEffectsOneBB-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MechEffects One BB';
    src: url('MechEffectsOneBB.woff2') format('woff2'),
        url('MechEffectsOneBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MechEffects One LC BB';
    src: url('MechEffectsOneLCBB-Italic.woff2') format('woff2'),
        url('MechEffectsOneLCBB-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MechEffects One LC BB';
    src: url('MechEffectsOneLCBB.woff2') format('woff2'),
        url('MechEffectsOneLCBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OneTwoPunch BB';
    src: url('OneTwoPunchBB-Italic.woff2') format('woff2'),
        url('OneTwoPunchBB-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OneTwoPunch BB';
    src: url('OneTwoPunchBB.woff2') format('woff2'),
        url('OneTwoPunchBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Palooka BB';
    src: url('PalookaBB-Italic.woff2') format('woff2'),
        url('PalookaBB-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Palooka BB';
    src: url('PalookaBB.woff2') format('woff2'),
        url('PalookaBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raw Bones BB';
    src: url('RawBonesBB-Italic.woff2') format('woff2'),
        url('RawBonesBB-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raw Bones BB';
    src: url('RawBonesBB-Regular.woff2') format('woff2'),
        url('RawBonesBB-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Upchucked BB';
    src: url('UpchuckedBB-Regular.woff2') format('woff2'),
        url('UpchuckedBB-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
